{% extends "main/base.html" %}




<form method="post" class="form-control d-flex flex-row gap-2" id="teacherForm">
    {{ form.csrf_token }}
    {{ form.teacher }}
    <input type="submit" class="btn btn-success" value="Показать">
</form>





{% block content %}

<section id="home" class="hero">
    <h1>Ласкаво просимо на наш сайт!</h1>
    <p>Тут ви знайдете найкращі послуги та продукти.</p>
</section>



<section id="services" class="services">
    <h2>Наші послуги</h2>
    <ul>
        <li>Послуга 1</li>
        <li>Послуга 2</li>
        <li>Послуга 3</li>
    </ul>
</section>


{% endblock %}
