{% extends "main/base.html" %}

{%block title%} Редактор {%endblock%}

{%block content%}

<!-- Подключение HTML попапа -->
{% include "user/popup.html" %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблиця з 5 стовпцями</title>

    <!-- Стили для таблицы -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: gray;
        }
    </style>

    <!-- Подключение стилей для попапа -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
</head>
<body>

<h2>Всі юзери додатку</h2>

<table>
    <thead>
        <tr>
            <th>номер по списку</th>
            <th>ФІО</th>
            <th>стаус</th>
            <th>аватар 4</th>
            <th>дата реєстраці\ </th>
            <th>редагувати\ </th>
        </tr>
    </thead>
    <tbody>
        {%for user in users_b%}
            <tr scope="row">
                <td>{{loop.index }}</td>
                <td>{{user.name}}</td>
                <td>{{user.status}}</td>
                <td>
                    <img width="50px" height="50px" 
                         src="{{ url_for('static', filename='upload/' + (user.avatar if user.avatar else 'placeholder.png')) }}" 
                         alt="преподаватель">
                </td>
                <td>{{user.date}}</td>
                <td>
                    <a href="{{ url_for('user.edit', id=user.id) }}" class="btn btn-sm btn-secondary">Ред.</a>
                    <!-- Кнопка открытия popup -->
                    <button class="btn btn-sm btn-secondary user-info-btn" data-id="{{ user.id }}">Інф2</button>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>

<!-- Подключение JS файла -->
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>

</body>
</html>

{% endblock %}
